﻿<div class="row">
    <div class="form-group col-md-6">
        <input type="submit" class="btn btn-primary btn-block" value="Submit" />
    </div>
    <div class="form-group col-md-6">
        <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>&ensp; Back to List</a>
    </div>
</div>