﻿@model Contacts_API.ViewModel.SkillAndContactViewModel
@using Contacts_API.Areas.Extention

@{
    ViewData["Title"] = "Home Page";
}
<div class="border backgroudWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Contacts List</h2>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Contacts.Count() > 0)
        {
            <table class="table">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactSkill.Contact.Con_full_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactSkill.Contact.Con_adress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactSkill.Contact.Con_email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactSkill.Contact.Con_phone)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Contacts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_full_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_adress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_phone)
                            </td>
                            <td>
                                <a asp-action="ShowSkill" asp-route-id="@item.Id_contact"><i class="fa fa-eye fa-lg"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> No Contact Exist ..</p>
        }
    </div>
</div>
<div class="border backgroudWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Skills List</h2>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Skills.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactSkill.Skill.Ski_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactSkill.Skill.Ski_level)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Skills)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ski_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ski_level)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> No skill Exist for this contact..</p>
        }
    </div>
</div>
