﻿@*@model IEnumerable<Contacts_API.Models.ContactSkillModel>*@
@model Contacts_API.ViewModel.SkillAndContactViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@using Contacts_API.Areas.Extention

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="border backgroudWhite">
    <form asp-action="link">
        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Link</h2>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-primary btn-block  col-4" style="float: right;" value="Link">
            </div>
        </div>
        <div class=" form-group row">
            <div class="col-3">
                <label asp-for"" class="col-form-label"> Full Name</label>
            </div>
            <div class="col-5">
                <select id="ddlCategoryList" asp-for="ContactSkill.Cs_contactId" asp-items="Model.Contacts.ToSelectListItem(Model.ContactSkill.Cs_contactId)" class="form-control"> </select>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model)
                        </th>
                        <th>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SkillModel item in Model.Skills)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ski_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ski_level)
                            </td>
                            <td>
                                <input name="chkidSelected" type="checkbox" class="check" value="@item.Id_skill" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
    <h2 class="text-info"> Link between Contacts and Skills</h2>
    <form asp-action="Delete">
        <div>
            @if (Model.ContactSkills.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactSkill.Contact.Con_full_name)
                            </th>
                            <th>
                                Skill @Html.DisplayNameFor(model => model.ContactSkill.Skill.Ski_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactSkill.Skill.Ski_level)
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ContactSkills)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contact.Con_full_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Skill.Ski_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Skill.Ski_level)
                                </td>
                                <td>
                                    @if (item.Contact.Con_idUser == null || item.Contact.Con_idUser == userManager.GetUserId(User))
                                    {
                                        @*<input name="dltSelected" type="hidden" class="hide" value="@item.Cs_skillId" />*@
                                        <a asp-action="Delete" asp-area="user" asp-route-id="@item.Cs_contactId$@item.Cs_skillId" class="text-danger ml-1" onclick="return confirm ('Are you sure to delete this link')"><i class="fa fa-trash-alt fa-lg"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p> No link between contact and skill..</p>
            }
        </div>
    </form>
</div>



