﻿@model Contacts_API.Models.SkillModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Skill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id_skill" />
                <label asp-for="Ski_name" class="control-label"></label>
                <input asp-for="Ski_name" class="form-control" />
                <span asp-validation-for="Ski_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ski_level" class="control-label"></label>
                @*<input asp-for="Ski_level" class="form-control" />*@
                <select asp-for="Ski_level" class="control-label">
                    <option value="Low"> Low</option>
                    <option value="Basic">Basic</option>
                    <option value="Proficient">Proficient</option>
                    <option value="Expert">Expert</option>
                </select>
                <span asp-validation-for="Ski_level" class="text-danger"></span>
            </div>
            <div class=" form-group row">
                <div class="col-12">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('input[type=text]').each(function () {
            var req = $(this).attr('data-val-required');
            if (undefined != req) {
                var label = $('label[for="' + $(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });
    </script>

}
