﻿@model IEnumerable<Contacts_API.Models.SkillModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="border backgroudWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Skills List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> &nbsp Skill</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ski_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ski_level)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ski_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ski_level)
                            </td>
                            <td>
                                <a asp-action="AddOrEdit" asp-route-id="@item.Id_skill"><i class="fa fa-marker fa-lg"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id_skill" class="text-danger ml-1" onclick="return confirm ('Are you sure to delete this skill')"><i class="fa fa-trash-alt fa-lg"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>