﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<a class="nav-link text-dark" asp-area="User" asp-controller="Home" asp-action="Index">Redirect to the home page</a>