﻿@model Contacts_API.Models.ContactModel
@using Contacts_API.Areas.Extention
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Contact</h4>
<hr />
<div class="row align-middle" >
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_contact" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Con_last_name" class="control-label"></label>
                    <input asp-for="Con_last_name" class="form-control" />
                    <span asp-validation-for="Con_last_name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Con_first_name" class="control-label"></label>
                    <input asp-for="Con_first_name" class="form-control" />
                    <span asp-validation-for="Con_first_name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="Con_full_name" class="control-label"></label>
                    <input asp-for="Con_full_name" class="form-control" />
                    <span asp-validation-for="Con_full_name" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Con_adress" class="control-label"></label>
                <span style="color:red"> *</span>
                @*<input asp-for="Con_adress" class="form-control" />*@
                @Html.TextAreaFor(model => model.Con_adress, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="Con_adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Con_email" class="control-label"></label>
                <input asp-for="Con_email" class="form-control" />
                <span asp-validation-for="Con_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Con_phone" class="control-label"></label>
                <input asp-for="Con_phone" class="form-control" />
                <span asp-validation-for="Con_phone" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Con_idUser" asp-items=get />
            <div class=" form-group row">
                <div class="col-12">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </form>
    </div>
</div>
<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
    -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('input').each(function () {
            var req = $(this).attr('data-val-required');
            if (undefined != req) {
                var label = $('label[for="' + $(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });
    </script>
}
