﻿@model IEnumerable<Contacts_API.Models.ContactModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="border backgroudWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Contacts List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> &nbsp Contact</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Con_last_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Con_first_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Con_full_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Con_adress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Con_email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Con_phone)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_last_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_first_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_full_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_adress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Con_phone)
                            </td>
                            <td>
                                @if (item.Con_idUser == null || item.Con_idUser == userManager.GetUserId(User))
                                {
                                    <a asp-action="AddOrEdit" asp-route-id="@item.Id_contact"><i class="fa fa-marker fa-lg"></i></a><span>|</span>
                                    <a asp-action="Delete" asp-route-id="@item.Id_contact" class="text-danger ml-1" onclick="return confirm ('Are you sure to delete this Contact')"><i class="fa fa-trash-alt fa-lg"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> No Contact Exist ..</p>
        }
    </div>
</div>